<launch>
    <arg name="ns"		default="/"/>
    <arg name="fcu_url"		default="/dev/ttyACM0:500000"/>
    <arg name="gcs_url"		default="udp://@" />
    <arg name="tgt_system"	default="1" />
    <arg name="tgt_component"	default="1" />

    <arg name="cam_pos_x"	default="0.1" />
    <arg name="cam_pos_y"	default="0.0" />
    <arg name="cam_pos_z"	default="-0.1" />
    <arg name="cam_roll"	default="0.0" />
    <arg name="cam_pitch"	default="0.7854" />
    <arg name="cam_yaw"		default="0.0" />

    <!-- web video server -->
    <node name="web_video_server" pkg="web_video_server" type="web_video_server" required="false" respawn="true" respawn_delay="5">
    </node>

    <!-- Launch ZED camera -->
    <include file="$(find zed_wrapper)/launch/zedm.launch">
        <arg name="cam_pos_x"   value="$(arg cam_pos_x)" />
        <arg name="cam_pos_y"   value="$(arg cam_pos_y)" />
        <arg name="cam_pos_z"   value="$(arg cam_pos_z)" />
        <arg name="cam_roll"    value="$(arg cam_roll)" />
        <arg name="cam_pitch"   value="$(arg cam_pitch)" />
        <arg name="cam_yaw"     value="$(arg cam_yaw)" />
    </include>

    <!-- Launch Bridge -->
    <node name="px4_zed_bridge_node" pkg="px4_zed_bridge" type="px4_zed_bridge_node" output="screen">
    </node>

    <!-- Launch Mavros -->
    <group ns="$(arg ns)">
      <include file="$(find mavros)/launch/node.launch">
          <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
          <!-- Need to change the config file to get the tf topic and get local position in terms of local origin -->
          <arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />
          <arg name="fcu_url" value="$(arg fcu_url)" />
          <arg name="gcs_url" value="$(arg gcs_url)" />
          <arg name="tgt_system" value="$(arg tgt_system)" />
          <arg name="tgt_component" value="$(arg tgt_component)" />
      </include>
    </group>
    
</launch>
