<launch>
    <arg name="ns"		default="/"/>
    <arg name="fcu_url"		default="/dev/ttyACM0"/>
    <arg name="gcs_url"		default="udp://@" />   <!-- QGC running on Ubuntu -->
    <arg name="tgt_system"	default="1" />
    <arg name="tgt_component"	default="1" />

    <arg name="cam_pos_x"	default="0.0" />
    <arg name="cam_pos_y"	default="0.0" />
    <arg name="cam_pos_z"	default="0.0" />
    <arg name="cam_roll"	default="0.0" />
    <arg name="cam_pitch"	default="-1.5708" />
    <arg name="cam_yaw"		default="0.0" />

    <!-- web video server -->
    <node name="web_video_server" pkg="web_video_server" type="web_video_server" required="false" respawn="true" respawn_delay="5">
    </node>

    <!-- Launch ZED camera -->
    <include file="$(find zed_wrapper)/launch/zedm.launch">
        <arg name="cam_pos_x"   value="$(arg cam_pos_x)" />
        <arg name="cam_pos_y"   value="$(arg cam_pos_y)" />
        <arg name="cam_pos_z"   value="$(arg cam_pos_z)" />
        <arg name="cam_roll"    value="$(arg cam_roll)" />
        <arg name="cam_pitch"   value="$(arg cam_pitch)" />
        <arg name="cam_yaw"     value="$(arg cam_yaw)" />
    </include>

    <!-- Throttle odometry messages to a fixed rate around 25Hz -->
  <node name="odom_throttler" type="drop" pkg="topic_tools" 
    args="/zedm/zed_node/odom 7 8 /zedm/zed_node/odom_throttled" >
  </node>

    <!-- Launch Bridge -->
    <node name="px4_zed_bridge_node" pkg="px4_zed_bridge" type="px4_zed_bridge_node" output="screen">
    </node>

    <!-- Launch Mavros -->
    <group ns="$(arg ns)">
      <include file="$(find mavros)/launch/node.launch">
          <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
          <!-- Need to change the config file to get the tf topic and get local position in terms of local origin -->
          <arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />
          <arg name="fcu_url" value="$(arg fcu_url)" />
          <arg name="gcs_url" value="$(arg gcs_url)" />
          <arg name="tgt_system" value="$(arg tgt_system)" />
          <arg name="tgt_component" value="$(arg tgt_component)" />
      </include>
    </group>

    <!-- Copter visualization -->
    <node name="visualization" pkg="mavros_extras" type="visualization">
        <remap to="mavros/local_position/pose" from="local_position"/>
        <remap to="mavros/setpoint_position/local" from="local_setpoint"/>
        <param name="fixed_frame_id" value="map"/>
        <param name="child_frame_id" value="base_link"/>
        <param name="marker_scale" value="1"/>
        <param name="max_track_size" value="20"/>
        <param name="num_rotors" value="4"/>
    </node>
</launch>
